@media (max-width: 426px) {
    #About {
        flex-direction: column-reverse;
        justify-content: center;
    }

    .about-img {
        transform: scale(0.9);
    }

    .card-container {
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .card-scroller {
        white-space: wrap;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .contact-options {
        flex-direction: column;
    }

    .form-container {
        border: none;
    }
}