@media (max-width: 1025px) {
    .bio {
        top: 30px;
    }
    
    .social-icons {
        margin-right: 5px;
    }
}

@media (max-width: 769px) {
    

    .section-head {
        font-size: 1.7rem;
    }

    #About {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .about-main {
        margin: 0;
    }
    
    .bio {
        top: 20px;
        width: 100%;
    }

    .about-img {
        transform: scale(0.95);
    }

    #Contact {
        justify-content: flex-start;
        align-items: center;
        padding-top: 50px;
    }

    #Contact .section-head {
        margin: 0;
    }

    .contact-options {
        flex-direction: column;
        justify-content: flex-start;
    }

    .form-container {
        width: 80%;
        border: none;
    }

    .other-options {
        width: 75%;
        height: 100%;
        left: 0;
        justify-content: space-evenly;
    }

    .socials {
        margin: 10px 0;
    }

    .social-link {
        font-size: 1rem;
        line-height: 1rem;
        height: 1rem;
        /* margin: 10px 0; */
    }

    .social-icons {
        width: 24px;
        height: 24px;
        margin-right: 5px;
    }
}

@media (max-width: 426px) {
    .nav {
        width: 100vw;
    }

    .nav-head {
        justify-content: space-around;
    }

    .active {
        width: 150%;
    }

    .active:hover {
        width: 150%;
    }

    .dark-mode {
        bottom: 50px;
    }
    
    #About {
        flex-direction: column-reverse;
        justify-content: center;
    }

    .bio {
        position: relative;
        top: 10px;
        width: 100%;
        /* margin-bottom: 10px; */
    }

    .about-img {
        transform: scale(0.9);
    }

    .card-container {
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .card-scroller {
        white-space: wrap;
        overflow-y: auto;
        overflow-x: hidden;
    }

    #Contact {
        justify-content: flex-start;
        padding-top: 50px;
    }

    .contact-options {
        flex-direction: column;
    }

    .form-container {
        border: none;
        width: 100%;
    }

    form {
        grid-template-rows: repeat(11,1rem);
    }

    .other-options {
        width: 90%;
        top: 15px;
        left: 0;
    }

    .socials {
        margin: 10px 0;
    }

    .social-link {
        font-size: 1rem;
        padding: 0 0 0 5px;
    }
    
    .social-icons {
        width: 24px;
        height: 24px;
        margin-right: 10px;
    }
}

@media (max-width: 376px) {
    
    .dark-mode {
        bottom: 50px;
    }

    .bio {
        position: relative;
        top: 10px;
        width: 100%;
    }

    .about-img {
        transform: scale(0.8);
    }

    .card-scroller {
        margin: 0;
    }

    .cards {
        width: 85%;
        margin-left: 12px;
    }

    .socials {
        justify-content: center;
        align-items: center;
    }

    .social-link {
        justify-content: center;
        align-items: center;
        margin: 10px;
        padding: 0;
    }

    .social-title {
        display: none;
    }

    .social-icons {
        margin: 0;
    }

}

@media (max-width: 321px) {

    .dark-mode {
        bottom: 50px;
    }
    
    .about-img {
        transform: scale(0.7);
        position: relative;
        top: 25px;
    }

    .cards {
        margin-left: 8.5px;
    }

    .card-img {
        background-size: cover;
        background-position-x: -25px;
    }

    .bio {
        position: relative;
        top: 10px;
        width: 100%;
        /* margin-bottom: 10px; */
    }

    #Contact {
        overflow: hidden;
        height: 100vh;
    }

    form {
        grid-template-columns: repeat(4, auto);
    }

    form input {
        width: 80%;
    }

    .form-background {
        overflow: hidden;
    }

    form #subject {
        grid-column: 2/2;
    }

    form label {
        font-size: 1rem;
        /* line-height: 1rem; */
        width: 100%;
    }

    form textarea {
        font-size: 0.9rem;
    }

    .socials {
        justify-content: center;
    }

    .social-link {
        margin: 10px 0;
        padding: 0;
    }

    .social-icons {
        margin: 0;
    }

}