* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Lato', sans-serif;
    overflow: hidden;
}

body {
    background-color: #f3f4f5;
    color: black;
}

.page {
    display: flex; 
    flex-direction: row;
    height: 100vh;
    background-image: url('/assets/main-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.nav {
    width: 300px;
    height: 100%;
    background-color: #E0E1E2;
    overflow: hidden;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 1;
    position: relative;
    top: 0;
    left: -310px;
    border-radius: 0 50px 50px 0;
}

.nav-logo-div {
    width: 64px;
    height: 40px;
}

.nav-logo {
    background-image: url('/assets/nav-logo.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.nav-head {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: fit-content;
    font-size: 24px;
    position: relative;
    margin: 20px 0 20px 0;
    left: 0;
}

.nav-head-main {
    font-weight: 400;
    /* opacity: 0.8; */
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 1px;
    text-decoration-color: rgba(0,0,0,0.6);
    margin: 0 0 0 10px;
}

.open {
    position: fixed;
    display: inline;
    top: 15px;
    left: 15px;
    width: 3rem;
    height: 3rem;
    opacity: 0.5;
    /* padding: 10px; */
    border: none;
    border-radius: 50%;
    z-index: 10;
}

.open:hover {
    opacity: 0.8;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    transition: 0.2s ease-in-out;
}

.open-icon {
    background-image: url('/assets/bar-icon.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 1.8rem;
    height: 1.8rem;
    border: none;
    border-radius: 50%;
    margin: 9px auto;

}

.close {
    position: relative;
    left: 0.5rem;
    /* top: 5px; */
    width: 2.0rem;
    height: 2.0rem;
    padding: 8px;
    opacity: 0.5;
    border: none;
    border-radius: 50%;
}

.close:hover {
    opacity: 0.8;
    cursor: pointer;
    background-color: #f3f4f5;
    transition: 0.2s ease-in-out;
}

.close-icon {
    background-image: url('/assets/close-icon.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 1.8rem;
    height: 1.8rem;
    border: none;
    border-radius: 50%;
    margin: 2px 2px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quick-links {
    display: flex;
    flex-direction: column;
}

.links {
    margin: 10px 1vw;
    padding: 1.5rem;
    font-size: 1.2rem;
    text-decoration: none;
    color: rgba(0,0,0,0.7);
    border: none;
    border-radius: 15px;
    /* transition: 0.2s ease-in-out; */
    word-spacing: 3px;
}

.links:hover {
    color: rgba(0,0,0,1);
    width: fit-content;
    background-color: #f3f4f5;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-color: rgba(0,0,0,0.6);
    text-underline-offset: 5px;
}

.active {
    width: 120%;
    color: rgba(0,0,0,1);
    background-color: #f3f4f5;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-color: rgba(0,0,0,0.6);
    text-underline-offset: 5px;
    border-radius: 15px 0 0 15px;

    transition: 1s;
}

.active:hover {
    width: 120%;
}

.options {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

.dark-mode {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 30px;
    width: 100px;
    height: 52px;
}

.dark-mode label {
    width: 100%;
    height: 100%;
    border-radius: 100px;
    display: flex;
    flex-direction: row;
    /* justify-content: flex-start; */
    align-items: center;
    background-color: #f3f4f5;
    border: 3px solid #C0C0C0;
    box-shadow: 0 0 5px #C0C0C0;
    transition: 0.3s linear;
}

.dark-mode label:hover {
    cursor: pointer;
}

.dark-mode label .thumb {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    padding: 5px;
    border: 3px solid #C0C0C0;
    background-color: #87CEEB;
    transition: 0.3s linear;
}

.dark-mode label .thumb .thumb-image {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background-image: url('/assets/bright.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#toggle:checked+label {
    background-color: #C0C0C0;
    border: 3px solid #1b1b1b;
}

#toggle:checked+label .thumb {
    border: 3px solid #1b1b1b;
    background-color: #1b1b1b;
    transform: translateX(39px);
}

#toggle:checked+label .thumb .thumb-image {
    background-image: url('/assets/dark.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#toggle {
    display: none;
}


.main {
    padding: 0 1%;
    display: block;
    flex-direction: column;
    flex: 1;
    overflow: auto;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    
}

.about-img {
    border-radius: 10%;
    border: none;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease;
}

.about-img:hover {
    transform: scale(1.01);
    cursor: pointer;
}

.about-main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    margin-left: 1rem;
    font-size: 1.2rem;
}

.section {
    height: 100vh;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;

    animation: fade linear both;
    animation-timeline: view();
    animation-range: entry 50% cover 50%;
}

.section-head {
    border: none;
    border-bottom: rgba(0,0,0,0.6) 1px solid;
    width: 100%;
    text-align: center;
    font-size: 1.7rem;
    padding-bottom: 5px;
    word-spacing: 3px;
    margin-bottom: 40px;
}

.card-container {
    background-color: rgba(255, 255, 255, 0.4);
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 10px black inset;
    width: 100%;
    height: 400px;
    top: 20px;
    padding: 0 10px;
}

.card-scroller {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 0;
    height: fit-content;
    margin: 0 10px;
    border-radius: 18px;
}

.cards {
    border: none;
    border-radius: 18px;
    height: 330px;
    width: 275.5px;
    background-color: rgba(255, 255, 255, 0);
    background-image: linear-gradient(
        to right bottom,
        rgba(255,255,255,0.0),
        rgba(255,255,255,0.3)
        );
    display: inline-block;
    margin: 25px 10px;
    padding: 10px;
    box-shadow: 0 0 7px black;
    text-align: center;
    transition: transform 0.1s linear;
    overflow: hidden;
}

.cards:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.cards:active {
    transform: scale(0.97);
}

.card-img {
    display: inline-block;
    width: 98%;
    height: 150px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 2px black;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-image: url('/assets/books.jpeg'); */
}

.card-title {
    font-size: 1.5rem;
    position: relative;
    top: 10px;
    margin-bottom: 15px;
}

.card-content {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-text {
    width: 80%;
    height: 100px;
    text-wrap: wrap;
    overflow: hidden;
}

.contact-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 300px;
}

.form-container {
    position: relative;
    top: 10px;
    flex: 1;
    width: 100%;
    height: fit-content;
    border-right: 1px solid black;
    padding: 10px;
}

.form-background {
    border: none;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    padding: 10px;
}


.form-head {
    height: fit-content;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(11, 1.5rem);
    gap: 5px;
    margin-top: 10px;
}

form input {
    border-radius: 20px;
    border: none;
    box-shadow: 0 0 2px black;
    font-size: 1rem;
    padding: 5px 10px;
    height: 1.5rem;
}

form textarea {
    border-radius: 20px;
    border: none;
    box-shadow: 0 0 2px black;
    font-size: 1rem;
    padding: 5px 10px;
    
}

form #cc {
    grid-row: 1/2;
    grid-column: 2/ span 1;
}

form #cc+label {
    grid-row: 1/2;
    grid-column: 1/2;
}

form #subject {
    grid-row: 3/4;
    grid-column: 2/ span 4;
}

form #subject+label {
    grid-row: 3/4;
    grid-column: 1/2;
}

form #body {
    grid-row: 5/9;
    grid-column: 2/ span 4;
}

form #body+label {
    grid-row: 5/6;
    grid-column: 1/2;
}

form #submit {
    grid-row: 9/11;
    grid-column: 2/4;
    height: fit-content;
    width: fit-content;
    padding: 10px 30px;
    background-color: #ccc;
    transition: transform 0.2s ease;
    color: black;
    margin-top: 10px;
    opacity: 0.8;
    font-size: 1.2rem;
}

form #submit:hover {
    transform: scale(1.05);
    cursor: pointer;
    opacity: 1;
}

.other-options {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    height: 100%;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 40%;
}

.socials:hover {
    cursor: pointer;
}

.social-title {
    font-size: 24px;
    line-height: 24px;
}

.social-icons {
    width: 30px;
    height: 32px;
    margin-right: 10px;
}

#github {
    background-image: url('/assets/github.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

#insta {
    background-image: url('/assets/instagram.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

#in {
    background-image: url('/assets/linkedin.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

#main-img {
    width: 300px;
    height: 300px;
    border: none;
    border-radius: 10%;
    box-shadow: 0 0 2px black;
}

#nav-logo {
    width: 3.6rem;
    height: 2.25rem;
    opacity: 1;
}

#About {
    
    height: 100vh;
    /* border: black 2px solid; */
    padding: 0 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#About .about-main .section-head {
    margin-bottom: 0;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}