*{
    margin: 0;
    padding: 0;
    background-color: #202124;
}

body {
    overflow-x: hidden;
}

.heading{
    width: 100%;
    height: auto;
    text-align: center;
    padding: 10px 0;
}

h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 2px;
    color: #E8EAED;
    margin: 10px 0;
}

.table-div{
    width: 100%;
    height: auto;
    padding:  25px 6.5%;
}

.la-table-div{
    width: 100%;
    height: auto;
    padding: 25px 15%;
}

.table, .la-table{
    width: fit-content;
    height: auto;
    padding: 0;
    margin: 0;
}

.elements{
    height: 70px;
    width: 70px;
    padding: 0;
    margin: 0;
    border: solid black;
    border-radius: 10%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    color: #E8EAED;
    text-align: center;
    vertical-align: middle;
    transition: transform 0.1s ease;
    overflow: hidden;
}

.elements:hover{
    transform: scale(1.5);
    cursor: pointer;
}

.at-num{
    margin: -10px 0 0 2px ;
    padding: 1px;
    font-size: 12px;
    text-align: left;
    vertical-align: top;
    border-radius: 20%;
    background-color: inherit;
}

.empty{
    border: none;
    margin: 0;
    padding: 0;
}

.empty:hover{
    transform: none;
    cursor: default;
}

.index-table-div{
    width: 100%;
    height: auto;
    padding: 25px 27.5%;
}

.index-table{
    color: #E8EAED;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.name{
    font-size: 12px;
    text-align: middle;
    vertical-align: bottom;
    margin: 0;
    text-overflow: ellipsis;
    background-color: inherit;
    /* font-weight: 100; */
}

.index-col{
    width: 20px;
    height: 20px;
    margin: 10px 40%;
    border: #E8EAED 2px solid;
    border-radius: 50%;

}

.index-cell{
    border: none;
    padding: 10px;
    text-align: center;
}

#at-num-1, #at-num-6, #at-num-7, #at-num-8, #at-num-9, #at-num-15, #at-num-16, #at-num-17, #at-num-34, #at-num-35, #at-num-53, #rnm{
    background-color: #2A4165;
} 

#at-num-3, #at-num-11, #at-num-19, #at-num-37, #at-num-55, #at-num-87, #am{
    background-color: #234d57;
}

#at-num-4, #at-num-12, #at-num-20, #at-num-38, #at-num-56, #at-num-88, #aem{
    background-color: #622E39;
}

#at-num-21, #at-num-22, #at-num-23, #at-num-24, #at-num-25, #at-num-26, #at-num-27, #at-num-28, #at-num-29, #at-num-30, #at-num-39, #at-num-40, 
#at-num-41, #at-num-42, #at-num-43, #at-num-44, #at-num-45, #at-num-46, #at-num-47, #at-num-48, #at-num-72, #at-num-73, #at-num-74, #at-num-75, 
#at-num-76, #at-num-77, #at-num-78, #at-num-79, #at-num-80, #at-num-104, #at-num-105, #at-num-106, #at-num-107, #at-num-108, #tm{
    background-color: #433C65;
}

#at-num-5, #at-num-14, #at-num-32, #at-num-33, #at-num-51, #at-num-52, #me{
    background-color: #523E1B;
}

#at-num-13, #at-num-31, #at-num-49, #at-num-50, #at-num-81, #at-num-82, #at-num-83, #at-num-84, #at-num-85, #ptm{
    background-color: #2F4D47;
}

#at-num-2, #at-num-10, #at-num-18, #at-num-36, #at-num-54, #at-num-86, #ng{
    background-color: #623842;
}

#at-num-109, #at-num-110, #at-num-111, #at-num-112, #at-num-113, #at-num-114, #at-num-115, #at-num-116, #at-num-117, #at-num-118, #up{
    background-color: #46474C;
}

#at-num-57, #at-num-58, #at-num-59, #at-num-60, #at-num-61, #at-num-62, #at-num-63, #at-num-64, #at-num-65, #at-num-66, #at-num-67, #at-num-68, #at-num-69,
#at-num-70, #at-num-71, #la{
    background-color: #004A76;
}

#at-num-89, #at-num-90, #at-num-91, #at-num-92, #at-num-93, #at-num-94, #at-num-95, #at-num-96, #at-num-97, #at-num-98, #at-num-99, #at-num-100,
#at-num-101, #at-num-102, #at-num-103, #ac{
    background-color: #613B28;
}

