* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ccc;
}

.section {
    height: 100vh;
    width: 100vw;
    /* background-color: black; */
}

.buffer {
    height: 10vh;
    width: 100vw;
    background-color: grey;
}

#header {
    font-size: 10rem;
    color: #f1f2f3;
    box-shadow: 0 0 10px black;
    padding: 10px 50px;
    animation: fly-in 2s linear 0 1 left none;
}

#section-1 {
    background-image: url('/hobbies/reading/assets/book-bg-1.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 100px  black inset;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section-2 {
    background-image: url('/hobbies/reading/assets/book-bg-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 0 0 100px black inset;
    opacity: 0.8;
}

#section-3 {
    background-image: url('/hobbies/reading/assets/book-bg-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    box-shadow: 0 0 200px black inset;
    opacity: 0.75;
}

@keyframes fly-in {
    from {
        left: -200px;
    }
    to {
        left: 0px;
    }
}
